<mat-nav-list appAccordion >
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuItem()" routerLinkActive="selected"
        group="{{ menuitem.state }}">
        <a  style=" text-decoration: none;"class="" appAccordionToggle [routerLink]="['/cafe/', menuitem.state]"
            *ngIf="menuitem.type === 'link' && (menuitem.role === '' || menuitem.role === userRole)">
            <mat-icon style="color:#1D267D">{{ menuitem.icon }}</mat-icon>
            <span style="color:black;  vertical-align: 25%;">{{ menuitem.name }}</span>
        </a>
    </mat-list-item>
</mat-nav-list>