<!-- <mat-toolbar style="background-color: #B799FF ;">
    <mat-toolbar-row fxLayout="row">
        <span style=" margin-left:2%; background-color: #B799FF ;color:black;">View Bill</span>

        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar> -->


<!-- <table id="customesr">
    <tr>
        <td><b>Name:</b> {{ data?.name }}</td>
        <td><b>Email:</b> {{ data?.email }}</td>
    </tr>

    <tr>
        <td><b>Contact Number:</b> {{ data?.contactNumber }}</td>
        <td><b>Payment Method:</b> Online Payment</td>
    </tr>
</table> -->

<!-- <br> -->

<!-- <table class="custom-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let element of dataSource">
        <td>{{ element.name }}</td>
        <td>{{ element.category }}</td>
        <td>{{ element.price }}</td>
        <td>{{ element.quantity }}</td>
        <td>{{ element.total }}</td>
      </tr>
    </tbody>
  </table> -->
  
  <mat-toolbar style="background-color: #B799FF;">
    <mat-toolbar-row fxLayout="row">
      <span style="margin-left: 1%; color: black;">View Bill</span>
      <span class="spacer"></span>
      <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <!-- <table id="customesr">
    <tr >
      <td style="padding-right: 20px;"><b>Name:</b> {{ data?.name }}</td>
      <td><b>Email:</b> {{ data?.email }}</td>
    </tr>
    <tr>
      <td><b>Contact Number:</b> {{ data?.contactNumber }}</td>
      <td><b>Payment Method:</b> Online Payment</td>
    </tr>
  </table> -->

  <table id="customesr">
    <tr >
      <td style="padding-left:3%; "><b>Name:</b> {{ data?.name }}</td>
      <td><b>Email:</b> {{ data?.email }}</td>
    </tr>
    
    <tr>
      <td style="padding-left:3%;"><b>Contact Number:</b> {{ data?.contactNumber }}</td>
      <td><b>Payment Method:</b> Online Payment</td>
    </tr>
  </table> 
  
  <br>
  
  <table class="custom-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of dataSource; let i = index" [ngClass]="i % 2 === 0 ? 'even-row' : 'odd-row'">
        <td>{{ element.name }}</td>
        <td>{{ element.category }}</td>
        <td>{{ element.price }}</td>
        <td>{{ element.quantity }}</td>
        <td>{{ element.total }}</td>
      </tr>
    </tbody>
  </table>
  