<mat-toolbar style=" background-color: #B799FF ; width: 102.5%;">
    <mat-toolbar-row fxLayout="row">
        <span style="margin-left: 4%; background-color: #B799FF ;color:black;">{{ dialogData.action }} Category</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" style="margin-right: 3%;"mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography" style=" height: 50%;">
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                        <span *ngIf="categoryForm.controls.name.errors.required">This field is mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin: top 0; ">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="!(categoryForm.valid && categoryForm.dirty)">
        <mat-icon>save</mat-icon> {{ action }}
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon> Close</button>
</mat-dialog-actions>