<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
         <br>
         <br>

        <!-- <section class="big-feature-section">
            <div class="container flex big-feature-container" style="flex-direction: row-reverse;">
    
                <div class="feature-img">
                    <img src="../../assets/img/1.jpg" alt="">
                </div>
                <div class="feature-desc flex">
                    <h4>Effortless validation for</h4>
                    <h3>Design Professsionals</h3>
                    <p>Test interfaces, interaction flows, iconography and more, </p>
                </div>

                <div class="feature-img">
                    <img src="../../assets/img/2.jpg" alt="">
                </div>
                <div class="feature-desc flex">
                    <h4>Effortless validation for</h4>
                    <h3>Design Professsionals</h3>
                    <p>Test interfaces, interaction flows, iconography and more, to help you create intuitive and delightful experiences for your users.</p>
                </div>

               
    
            </div>
        </section> -->
 
        <section class="big-feature-section">
            <div class="container flex big-feature-container">

              <div class="feature-item">
                <div class="feature-img">
                  <img src="../../assets/img/1.jpg" alt="">
                </div>
                <div class="feature-desc">
                  <!-- <h4>Effortless validation for</h4>
                  <h3>Design Professionals</h3> -->
                  <h5><p>Experience pizza perfection at its best 
                    from thin and crispy crusts 
                    to delectable 
                    toppings, our pizzas are made to perfection,
                        delivering a burst of flavors with every bite.</p></h5>
                </div>
              </div>
          
              <div class="feature-item">
                <div class="feature-desc">
                  <div class="class1">
                  <h5><p>Experience the rich and tantalizing flavors of our biryanis, 
                    where each grain of rice is infused with the 
                    essence of fragrant spices and vegetables.
                    </p></h5>
                  </div>
                </div>
                <div class="feature-img">
                  <img src="../../assets/img/2.jpg" alt="">
                </div>
              </div>

              <div class="feature-item">
                <div class="feature-img">
                  <img src="../../assets/img/3.jpg" alt="">
                </div>
                <div class="feature-desc">
                  <!-- <h4>Effortless validation for</h4>
                  <h3>Design Professionals</h3> -->
                  <h5><p>Indulge in the ultimate comfort food experience with our sumptuous pasta creations, 
                    featuring a variety of flavors and textures that will leave you craving for more.</p></h5>
                </div>
              </div>

              <div class="feature-item">
                
                <div class="feature-desc">
                  <!-- <h4>Effortless validation for</h4>
                  <h3>Design Professionals</h3> -->
                  <div class="class1">
                  <h5><p>Indulge in the divine pleasure of our irresistible choco lava dessert, a chocolate lover's dream come true.</p></h5>
                </div>
                </div>

                <div class="feature-img">
                    <img src="../../assets/img/4.jpg" alt="">
                  </div>
              </div>
               

            </div>
          </section>
          

    </div>
</div>